*{
    padding: 0;
    margin: 0;
}
header{
    color:#f05f40;
    background:#fff;
    padding: 1%;
    margin: 1%;
    box-shadow: 0 8px 8px -8px black;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.products{
    display: flex;
  flex-wrap: wrap;
}
.item{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    border: 1px solid #c6cacf;
}
.item:hover{
    border: 1px solid #c6cacf;
    box-shadow: 0 8px 8px -8px #c6cacf;
}
.details{
    text-align: left;
    display: flex;
   flex-direction: column;
   padding: 5%;
   margin: 1%;

}
.title{
    font-weight: bold;
    color: #f05f40;
    font-size: 20px;
}
.price{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}
ul{
    list-style-type: none;
    padding-top: 10px;
    font-weight: 50;
}
/* .fa::before {
    content: "\f000";
} */
.fa
{
    color: #f05f40;
}
button{
    margin-top:25px;
    background:#6c757d;
    color: #fff;
    border-radius: 20px; 
    padding: 10px 5px;
    border: 2px solid #fff;
    font-weight:bold;
    cursor: pointer;
}
button:hover{
   border: 2px solid #c6cacf;
}


/* -------------------------- Small Scale Devices ----------------*/

@media only screen and (min-width: 350px) and (max-width:480px) 
{

.products{
    display: flex;
  flex-wrap: wrap;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 96%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    border: 1px solid #c6cacf;
}
.item:hover{
    border: 1px solid #c6cacf;
    box-shadow: 0 8px 8px -8px #c6cacf;
}
.details{
    text-align: left;
    display: flex;
   flex-direction: column;
   padding: 5%;
   margin: 1%;

}
.title{
    font-weight: bold;
    color: #f05f40;
    font-size: 20px;
}
.price{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}
ul{
    list-style-type: none;
    padding-top: 10px;
    font-weight: 50;
}
.fa::before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.fa
{
    color: #f05f40;
}
button{
    margin-top:25px;
    background:#6c757d;
    color: #fff;
    border-radius: 20px; 
    padding: 10px 5px;
    border: 2px solid #fff;
    font-weight:bold;
    cursor: pointer;
}
button:hover{
   border: 2px solid #c6cacf;
}
}

/* -------------------------- medium Scale Devices ----------------*/

@media only screen and (min-width: 481px) and (max-width:1025px) 
{

    .products{
        display: flex;
      flex-wrap: wrap;
    }
    .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 96%;
        margin: 1%;
        padding: 1%;
        text-align: center;
        border: 1px solid #c6cacf;
    }
    .item:hover{
        border: 1px solid #c6cacf;
        box-shadow: 0 8px 8px -8px #c6cacf;
    }
    .details{
        text-align: left;
        display: flex;
       flex-direction: column;
       padding: 5%;
       margin: 1%;
    
    }
    .title{
        font-weight: bold;
        color: #f05f40;
        font-size: 20px;
    }
    .price{
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
    }
    ul{
        list-style-type: none;
        padding-top: 10px;
        font-weight: 50;
    }
    .fa
    {
        color: #f05f40;
    }
    button{
        margin-top:25px;
        background:#6c757d;
        color: #fff;
        border-radius: 20px; 
        padding: 10px 5px;
        border: 2px solid #fff;
        font-weight:bold;
        cursor: pointer;
    }
    button:hover{
       border: 2px solid #c6cacf;
    }

}